### Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

### Environment
.env
.env.*
logging.ini
venv/
.venv/
celerybeat-schedule

### IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

### OS
.DS_Store
Thumbs.db

### Logs
*.log
